<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Search Movie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input type="text" ngModel #name="ngModel" name="title"></ion-input>
    </ion-item>
    <button ion-button type="submit">Submit</button>
  </form>

    <ion-list>
 
      <ion-list>
 
        <ion-item button *ngFor="let item of items" [routerLink]="['/', 'movie', item.imdbID]">
          <ion-avatar slot="start">
            <img [src]="item.Poster" *ngIf="item.Poster != 'N/A'">
          </ion-avatar>
     
          <ion-label text-wrap>
            <h3>{{ item.Title }}</h3>
            {{ item.Year }}
          </ion-label>
     
        </ion-item>
     
      </ion-list>
 
  </ion-list>

</ion-content>